/* CSS Document */
/* Adjustment to Materialize*/
body { background-color:#000000; }
nav { background-color:#000000; }
.row { margin-bottom:0; }
p { line-height:26px; color:#666666; }
.tabs .tab a:hover, .tabs .tab a.active { border-bottom: 3px solid #67D9F2;}
ul li, ul:not(.browser-default) li {
  list-style-type: disc; margin-left:50px; 
}

ul.collapsible li {
    list-style-type: none;
    margin-left: 0px;
}

ul.collapsible li ul li {
    list-style-type: disc; margin-left:50px; 
}
.collapsible-header { font-family: 'Oxygen', sans-serif; font-size:16px; font-weight:600;  }
.collapsible { border:none; box-shadow:none; }
.collapsible-header i.material-icons {color:#26a69a;;}

.dropdown-content.select-dropdown li { margin-left:0px; list-style-type: none; }
.l12 { width: 100%; }
p strong { font-weight:bold; }
.display-sm { display:none; }

#header {background-color: #000000; }
#header .logo { background-image:url("../images/logo_tnt_62x62.png"); background-size:cover; width:62px; height:62px; margin-top:22px;}
#header nav a { font-family: 'Oxygen', sans-serif; }
#header nav.main-nav a { margin-right:30px;font-size:14px; text-transform:uppercase;display:inline;}
#header nav.main-nav .right.hide-on-med-and-down a:last-of-type {margin-right:0; }

#mobile-nav.sidenav li > a { font-size:14px; text-transform:uppercase; }
#mobile-nav.sidenav li {list-style-type: none; margin-left: 0px; }
#mobile-nav.sidenav li > a.active { color:#000; background-color:#D8DDBB; }
#mobile-nav.sidenav li > a:hover { background-color:#dbdbdb; color:#000;}

#header nav a.active { color:#cdd498; /*color:#67D9F2;*/ }
#header nav.main-nav a.global-nav-hamburger { display:none; }
.user-nav {height:106px; color:#FFF; font-family: 'Oxygen', sans-serif;}
.user-nav .nav-user {line-height:16px; width:150px;}
.user-nav a.username { color:#FFF; line-height:16px; display:inline; }
.user-nav .guild-rank { color: #cdd498; font-size:9px; text-transform: uppercase; /*padding:0 15px;*/}

.section-header { /*background: radial-gradient(45.03% 33244.57% at 52.6% 100%, #8B2D71 0%, #0D2E3C 100%);*/ background: radial-gradient(45.03% 33244.57% at 52.6% 100%, #0D2E3C 0%, #000000 100%); height:275px; color:#FFF; }

.section { background-color:#FFF; }
.container.cinched { width: 58%; }
#sh-loot-config { position:relative; }
#sh-loot-config .tabs { position:absolute; bottom:0; }

.filter-label { text-transform:uppercase; color:#929292; margin-top:30px; margin-bottom:10px; }
.filter-label a.uncheck-all, .filter-label a.check-all { text-transform:capitalize; margin-left:8px; color:#888888; border-bottom:1px solid #dbdbdb; padding-bottom:1px; }
#filter-by-class { margin-bottom:20px; }
#filter-by-class p { margin:10px 0 0 0; }

.loot-item-card .text-wrap { width:95%;}
.loot-item-card .card-image { padding:8px;}
.loot-item-card .card-content { padding: 0px 10px; }
.loot-item-card .item-content { display:flex; }
.loot-item-card h6.item-name { font-family: 'Sintony', sans-serif; font-weight:700; color:#701672; margin:1rem 0 0.2rem 0; }
.loot-item-card .item-desc { font-size:14px; color:#5E5E5E; }
.loot-item-card .card-utility { width:8%; margin-top:1.5em; }
.loot-item-card .card-utility .icon-close { transform: rotate(45deg); color:#b5b5b5;}

.card-raider {  flex-flow: row wrap;}
.card-raider .raider-info { padding:30px; width:15%; display: flex; border-right:1px solid #e2e2e2; flex-direction: column; }
.card-raider .raider-info .raider-class { margin-bottom: auto; }
.card-raider .raider-info .raider-rank { margin-top: auto; }

/*Old Classes */
.card-raider.class-warrior .raider-info { background-color: #C79C6E;}
.card-raider.class-priest .raider-info { background-color: #F6F6F6;}
.card-raider.class-druid .raider-info { background-color: #ec9c55;}
.card-raider.class-hunter .raider-info { background-color: #A9D271;}
.card-raider.class-rogue .raider-info { background-color: #fffab9;} /*ffcd1*/
.card-raider.class-mage .raider-info { background-color: #40C7EB;}
.card-raider.class-warlock .raider-info { background-color: #6e6eb3;}
.card-raider.class-paladin .raider-info { background-color: #de8cb0;}
.card-raider.class-shaman .raider-info { background-color: #1f29e0;}

.card-raider .raider-info.Warrior { background-color: #C79C6E;}
.card-raider .raider-info.Priest { background-color: #F6F6F6;}
.card-raider .raider-info.Druid { background-color: #ec9c55;}
.card-raider .raider-info.Hunter { background-color: #A9D271;}
.card-raider .raider-info.Rogue { background-color: #fffab9;}
.card-raider .raider-info.Mage { background-color: #40C7EB;}
.card-raider .raider-info.Warlock { background-color: #62628e;}
.card-raider .raider-info.Paladin { background-color: #de8cb0;}
.card-raider .raider-info.Shaman { background-color: #1f29e0;}

.card-raider .raider-info, .card-raider .raider-info p { color:#FFF; }

.card-raider.class-rogue .raider-info,
.card-raider.class-rogue .raider-info p,
.card-raider.class-priest .raider-info,
.card-raider.class-priest .raider-info p {color: #3C3C3C;}

.card-raider .raider-info.Rogue,
.card-raider .raider-info.Rogue p,
.card-raider .raider-info.Priest,
.card-raider .raider-info.Priest p {color: #3C3C3C;}


.card-raider .raider-info .raider-name { font-size:17px; font-weight:700; }
.card-raider .raider-info .raider-class {font-size:14px; }
.card-raider .raider-info .raider-rank { font-size:12px; text-transform: uppercase; margin-top:90px;}

.loot-config-lists .dkp-count { border-bottom:1px #D6CCCC solid; width: 100%; color:#74658D; font-weight:700; font-size:16px; /*text-align:center;*/padding:0px 8px 8px 8px;}
.loot-config-lists .dkp-label { font-size:11px; color:#4E4E4E; }
.loot-config-lists .dkp-value { padding-top:8px; }
.loot-config-lists .dkp-value.t2 { /* margin-top:8px; border-top:1px solid #D6CCCC; padding-top:8px;*/ color:#2e87a8; }
.loot-config-lists .dkp-value.t6 { color:#1aa909; }
.t3-prio-desc .loot-config-lists .priority-dkp-value.dkp-value.t3,
.t3-lotto-desc .loot-config-lists .lottery-dkp-value.dkp-value.t3,
.t6-prio-desc .loot-config-lists .priority-dkp-value.dkp-value.t6,
.t6-lotto-desc .loot-config-lists .lottery-dkp-value.dkp-value.t6,
.t2-prio-desc .loot-config-lists .priority-dkp-value.dkp-value.t2,
.t2-lotto-desc .loot-config-lists .lottery-dkp-value.dkp-value.t2,
.t4-prio-desc .loot-config-lists .priority-dkp-value.dkp-value.t4,
.t4-lotto-desc .loot-config-lists .lottery-dkp-value.dkp-value.t4 { border-top:1px solid #000; }

.tnt-raider.v2 .loot-config-lists .dkp-count {width:100%;}

.card.horizontal .card-stacked .card-content {   display: flex;
  flex-wrap: wrap; }

.row .col.lottery-content, .row .col.priority-content{ /*min-height:200px;*/ margin-bottom:20px;}

.loot-config-list-label { font-size:12px; font-weight:bold; color:#000; text-transform: uppercase; margin-bottom:8px; /*text-align:center;*/ }
.loot-config-list ul { padding-inline-start: 0px; color:#9C9C9C; font-size:12px; margin-top:8px; }
.loot-config-list ul li { position: relative; margin-left: 20px; }
.loot-config-list ul li, .loot-config-list ul li a { padding-left:2px; padding-bottom:2px; color:#000;}


.page-footer { min-height:250px; text-align: center; background-color:#000000; }
.page-footer .footer-copyright { background-color: #000000;}

@media all and (max-width: 1200px) {
  .card-raider .raider-info { padding:20px; }
  .container.cinched { width: 58%; }
}

@media only screen and (min-width: 993px) {
  .container { width: 90%; }
}

@media all and (max-width: 993px) {
  .container { width: 90%; }

  #header nav.main-nav a.global-nav-hamburger { display:inline; margin-right:0; float:right; }
	.t2.priority-content, .t2.lottery-content, .t4.priority-content, .t4.lottery-content { margin-top:20px; } 
  .break {
  flex-basis: 100%;
  height: 0;
}
}

@media all and (max-width: 993px) {
  .container.cinched { width: 80%; }
}

@media all and (max-width: 900px) {
  .card-raider .raider-info { padding:20px; }
}


@media all and (max-width: 800px) {
  .card-raider .raider-info { padding:20px; width:100%;}
  .card-raider .raider-info .raider-rank { margin-top:0px; display:none; }
	.display-sm { display:inline-block;}
}

@media all and (max-width: 600px) {
  #header .logo { width: 50px;
    height: 50px;
    margin: 14px 30% 14px auto;  }
	.global-nav .row .col {  }
  .main-nav { }
	nav { height:44px; line-height:44px; text-align:center; }
  .lottery-content { margin-top:20px;}
  .loot-config-list { /*max-width:59%;*/}
	.row .col.lottery-content, .row .col.priority-content{ min-height:1px
    ;}
   .container.cinched { width: 90%; }
  #header nav.main-nav a.global-nav-hamburger { margin-top:10px; }
  #dropdown-input-field { margin-top:40px; }
}


